/* @group Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
  margin: 0;
  padding: 0;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* @end */

/* @group Header */

html {
  background: #f7f6e1 url(../images/pattern.png);
}

header {
  text-align: center;
  margin: 20px auto;
  width: 920px;
  padding-top: 20px;
}

#logo {
  display: inline-block;
}

h1 {
  font-size: 2em;
  margin: 4px;
}

#banner {
  margin-top: 20px;
}

#banner .photo {
  height: 200px;
  width: 100%;
  background: url(../images/staghorn%20sumac.jpg) 0 -20px;
}

nav {
  padding: 10px;
  font-size: .9em;
  text-align: center;
  width: 900px;
}

#nav1 {
  background: #a3a286;
  margin: 20px auto 0 auto;
}

#nav2 {
  background-color: #c7c58d;
}

header li {
  display: inline-block;
  margin: 0 10px;
}

/* @end */

.centered {
  text-align: center;
}

#content {
  margin-bottom: 150px;
}

/* @group Home */

#content.home {
  padding-top: 20px;
}

img.sign {
  width: 400px;
  margin: 20px auto;
  display: block;
}

/* @end */

footer {
  background-color: #67442f;
  color: #ffffff;
  padding: 4px 10px;
  text-align: right;
  width: 900px;
  margin: auto;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#wrapper {
  width: 920px;
  box-shadow: 0px 0px 5px gray;
  margin: auto;
  border-radius: 10px;
  background-color: #f7f6e1;
}
